@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<nav class="navbar is-primary">
    <div class="navbar-brand">
        <a id="header-logo" class="navbar-item" asp-page="/Index"></a>    
    </div>
    
    
    <div class="navbar-end">
        <div class="navbar-item">
            <div class="buttons">
                <a class="button signup">
                    <strong>Sign up</strong>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="columns">
    <div class="column is-narrow">
        <div class="box nar-column" style="width: 750px">
            <div class="block">
                <h1 class="heading-title is-uppercase">Connecting jobseekers with their dream opportunities</h1>
                <h3 class="heading-subtitle">Selvox simplifies the job search process by providing a seamless platform where employers and jobseekers can connect, collaborate, and achieve their career goals efficiently.</h3>
                <a class="button getstarted">
                    <strong>Sign up</strong>
                </a>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box wide-column">
            <div class="banner-img-part">
                <img src="assets/herophoto.png"/>
            </div>
        </div>
    </div>
</div>