@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
<header class="header-container">
    @*<div class="left">
        SELVOX
    </div>
    <div class="center">
        Center
    </div>*@
    <div class="right">Get started</div>
</header>
<main>
    <article class="article-container">
        <div class="column">
            <h1> Find Your Dream Job</h1> 
            <h1 class="important_word"> Today </h1><br>
            <p> Discover exciting career opportunities and take the next step towards success with Selvox.</p>
        </div>
    </article>
    <aside class="aside-container">
        <img src="assets/herophoto.png" alt="Image"/>
    </aside>
</main>
</body>