# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.2324-pp-11v-1-KKDinev20.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
