@import 'bulma.css';

:root {
  color: #3A445D;
  font-family: "Times New Roman", sans-serif;
  background: #FCFAFC;
}
.main-content {
  padding-top: 51px;
  height: 816px;
}

.navbar {
  height: 116px;
  background-color: #FCFAFC;
  margin-bottom: 10px;
}

.button, signup {
  color: #f1a3b7;
  background-color: #FCFAFC;
  width: 150px;
  height: 56px;
  border-radius: 14px;
  margin-right: 24px;
  font-size: 18px;

}

#header-logo {
  background: url(../assets/logo.png) no-repeat center center;
  background-size: cover;
  height: 115px;
  width: 250px;
  justify-content: center;

}


.navbar-brand {
  align-items: center;
  margin-left: 24px;
}

.columns {
  margin: 24px 24px;
}
.nar-column {
  background-color: #f7f9ec;
  height: 70vh;
  box-shadow: none;
}

.wide-column {
  display: flex;
  height: 70vh;
  box-shadow: none;
  justify-content: center;
  align-items: center;

  background-color: #FCFAFC;
}

.banner-img-part {
  align-items: center;
  justify-content: center;
  align-content: center;
  
  height: 540px;
  width: 540px;
}

.heading-title {
  font-family: "Roboto SemiBold", sans-serif; 
  margin-top: 6vh;
  font-size: 30px;
  color: #3a445d;
}

.heading-subtitle {
  margin-top: 6vh;
  font-size: 20px;
  font-family: "Roboto", sans-serif;

}

.getstarted {
  color: #f1a3b7;
  background-color: #FCFAFC;
  font-size: 18px;
  width: 150px;
  height: 56px;
  border-radius: 14px;
  margin-top: 12vh;
}